
<div class="block-group">
  <div class="right-column block col-7">
    <div class="toggle-control">
      <button type="button" class="toggle-btn toggle-btn-hide" > &lt; </button>
    </div>
    <div data-google-maps="<%= Settings.google_maps.javascript_api_key %>" 
        data-markers="<%= [{title: "Mariano calle 55", position: {lat: -34.9154244, lgn: -57.9443436}, subject_area: 2, academic_unit: {id: 10, title: "LAlala"}}] %>" 
        data-community-center-markers="<%= [{title: "Mariano calle 55", position: {lat: -34.9154244, lgn: -57.9443436}, projects: []}] %>">
    </div>
  </div>
</div>
