<div class="container header">
  <div class="logo col-md-0"><%= image_tag("logo.png",  alt: "Sistema de lactancia materna - IDIP") %></div>
  <div class="title col-md-8">
    <%= t('application.header.title') %>
  </div>

</div>

<%= render 'shared/navbar' %> 


