/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require select2
  *= require select2-bootstrap
  *= require nprogress
  *= require nprogress-bootstrap
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";

//FRONTEND
//
/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.frontend-navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.frontend-body {
  padding-top: 0 !important;
}

/* Remove the jumbotron's default bottom margin */ 
.frontend-jumbotron {
  background-color: #ded9d9;
  margin-bottom: 0;

}

/* Add a gray background color and some padding to the footer */
.frontend-footer {
  background-color: #ded9d9;
  padding: 0px;
  color: #333333;
}

.link-title {
  color: #f2f2f2;
}

#myNavbar {
  .open > a:focus {
    background-color: #f4f4f4 !important;
  }

  li {
    a {
      color: #f4f4f4 !important;
    }
  }
}
//
//FRONtEND

.order-list dd {
  padding-left: 0px !important;
  margin-right: 0px !important;
  padding: 5px !important;
}

.order-list {
  padding: 5px !important;
}
.order-list dt {
  width: 90px !important;
}

//Map context

.block-group,.block,.block-group:after,.block:after,.block-group:before,.block:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.block-group{*zoom:1}
.block-group:before,.block-group:after{display:table;content:"";line-height:0}
.block-group:after{clear:both}
.block-group{list-style-type:none;padding:0;margin:0}
.block-group>.block-group{clear:none;float:left;margin:0 !important}
.block{float:left;width:100%; margin-top: 10px; padding: 0px 5px 0px 5px;}

.more-info {
  font-size: 11px;
}

.search-box {
  padding: 10px 0px 10px 10px;
}

.col-1 { width: 10%; }
.col-2 { width: 20%; }
.col-3 { width: 30%; }
.col-4 { width: 40%; }
.col-5 { width: 50%; }
.col-6 { width: 60%; }
.col-7 { width: 70%; }
.col-8 { width: 80%; }
.col-9 { width: 90%; }
.col-10 { width: 100%; }

.left-column { height: 500px; padding-left: 10px; padding-right: 0px; font-size: 13px; }
.right-column { padding: 0px; position: relative; }

.toggle-control {
  width: 2%;
  height: 500px;
  position: absolute;
  z-index: 99;
}

.toggle-btn {
  height: 100%;
  color: #102a12;
  font-size: 12px;
  background: #ffffff;
  text-decoration: none;
  border: none;
  opacity: 0.9;
}

.toggle-btn:hover {
  background: #ebebeb;
  text-decoration: none;
}

.toggle-btn:focus { outline:0; }

.list ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 500px;
  overflow-y: scroll;
}

.list li {
  border-bottom: 1px solid #ccc;
}

.list li:last-child {
  border: none;
}

.list li a {
  padding: 5px;
  text-decoration: none;
  font-size: 13px;
  color: #000;
  display: block;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.list li a:hover {
  background: #f6f6f6;
}

.list-footer {
  padding: 0px;
  margin: 0px;
  height: 30px;
}

.list .no-results {
  height: 375px;
  display: inline-block;
}

.description {
  overflow-y: scroll;
  padding: 0px 10px 0px 10px;
}

.description p {
  line-height: 140%
}

//

.app-title {
  color: #2d3e50 !important;  
}

.page-header {
  margin: 20px 0 20px;

  .actions {
    text-align: right;

    .btn {
      line-height: $line-height-computed;
      margin-top: $line-height-computed;
      margin-bottom: ($line-height-computed / 2);
    }
  }
}

// Table td width class predefined-width
td.predefined-width {
  width: 60%;
}

.search {
  padding-bottom: 9px;
  border-bottom: 1px solid #eeeeee
}

.pull-right.user-table{
  font-size: 11px;
}

select[multiple], select[size] {
  height: 182px;
  margin-top: 25px;
}

.panel-group-audits h4 {
  font-weight: bold;
  font-size: 15px;
}

.panel-group-audits i {
  margin-left: 2px;
}

input[type="checkbox"] {
  margin: 4px 10px -8px;
}

.show-price {
  margin-top: 15px;
}

.dl-horizontal dt {
  width: 170px;
}

.dl-horizontal dd {
  padding-left: 40px;
  margin-right: 25px;
}

div.thumbnail{
  height: 356px !important;
}

body { padding-top: 60px; }

/*##############################*/
.handy-cursor
{
  cursor: pointer;
}

.pagination{
  margin:0;
}

.bottom-buffer { margin-bottom:20px; }

#setting .clickable {
  cursor: pointer;
}

#search_person .clickable {
  cursor: pointer;
}

/* Define color for link for ordering */
.link-order { color: white; }
.link-order:hover { color: #A9D0F5; }

.submenu > li > a {
  display: block;
  padding: 3px 30px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.payment-info-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-payment {
  border-radius: 10px;
  padding-top: 10px;
  margin-bottom: 15px;
}

.color-payment .list-group-item {
  padding: 4px 15px;
}
.color-payment .list-group-item-heading {
  margin-top: 0;
  margin-bottom: 11px;
}

.active-payment {
  border: 1px solid #B6D2EE;
}

.active-payment .list-group-item-heading {
  border-bottom: 1px solid #B6D2EE;
}

.canceled-payment {
  border: 1px solid #B77373;
}

.canceled-link-payment {
  color: #B77373;
}

.canceled-payment .list-group-item-heading {
  border-bottom: 1px solid #B77373 !important;
}

.dl-horizontal .long-label {
  width: 229px;
  padding-right: 13px;
}

.dark-blue-pnl {
  background-color: #2c3e50 !important;
  border-color: #2c3e50 !important;
  color: white !important;
}

.checkbox{
  .form-control {
    width: 50px;
    height: 15px;
  }
}

.glyphicon-certificate:before {
  content: "*";
  font-size: 7px;
  color: red;
}

.badge-danger {
  background-color: #b94a48;
}

.badge-warning {
  background-color: #f89406;
}

.badge-success {
  background-color: #468847;
}

.badge-info {
  background-color: #3a87ad;
}

.badge-inverse {
  background-color: #333333;
}

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.bs-callout h4 {
  margin-top: 0;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
  color: #B94A48;
}

.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
  color: #C09853;
}

.bs-callout-info h4,
.bs-callout-info a.alert-link {
  color: #3A87AD;
}

.bs-callout a.alert-link {
  font-weight: bold;
}

html,body{
  height:100%;
}

#content {
  min-height: 91%;
}

footer {
  height: 50px;
  margin: 15px 0 0 0;
  background-color: #6699FF;
  clear: both;
  text-align: center;
  color: #D9DADD;
  font-size: 11px;

  p {
    padding-top: 10px;

    a {
      color: #000066 !important;
    }
  }
}

.navbar {
  background-color: #6699FF;
  border-radius: 0;
  min-height: 45px;
  margin-bottom: 0;
}

.navbar-nav {
  .open > a:focus {
    background-color: #518BFF !important;
  }

  li {
    a {
      color: #000066 !important;
    }
  }
}

.navbar-default { 
  .navbar-brand {
    color: #FFFFFF !important;
  }
}

.photo {
  text-align: center;
}

.table-hover tbody tr:hover td
{
  background-color: #BACBDD;
}

// Page header for CRUD modules
.page-header.crud-page-header {
  margin-top: 0;

  h1 {
    font-size: 24px;
  }
}

// Footer for CRUD modules
.crud-footer {
  .pagination {
    margin-top: 3px;
  }

  input#per_page {
    text-align: center;
    width: 50px;
  }
}

// Modal size
.modal-xl {
  width: 900px;
  margin: 50px;
}

// Search accordion
#search_accordion .panel-title a {
  display: block;
}

p.display.form-control-static {
  padding-top: 7px;
}

#real-address-col {
  padding-top: 17px;
}

.col-md-3 .form-group .pull-right{
  padding-right:125px;
}

.pdf_tag_reference_container {

  text-align: left;

  .tags_table{
    margin:0 auto;
    width: 100%;

  }
  .mi-clase{
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    font-weight: bold;
    color: #555;
  }
  
  .panel-group {
    width: 85%;
    padding-left: 60px;
  }

  .panel-title {
    font-size: 14px;
    color:#555;
    font-weight: bold;
    
    i {
      font-size: 12px;
      padding-right: 10px;
      color: red;
      /* #357ebd; celeste botones */
    }
  }

  .panel-heading {
    border-radius: 5px;
  }

  .panel-default {
    border:none;
  }
}

.cash_desk_closing_xls {
    .pull-right {
        margin-right: 7px;
        margin-top: 12px;
    }
  }

.panel-group-link {
  font-size: 13px;
  width: 435px;
  margin-right: 20px;
  
  .panel-heading a{
    font-size: 14px; 
    color:#555;
    font-weight: bold;
  
    .glyphicon {
      color:red;
      font-size: 11px;
      margin-right: 5px;
    }
  }
  .panel-heading{
    background: none;
    border-color: none;
    border:none;
    padding: 0px;
  }
    .panel{
    border:none;
  }
}

.col-md-4.botton-align{
    text-align: right;
}

.form-inline {
  margin-top: 16px !important;
}


.enrrolled-active td{
  color: #31708f !important;
  background-color: #d9edf7 !important;
}

.enrrolled-desabled td {
  color: #a94442 !important;
  background-color: #FAF3F3 !important;
  border-color: #F4DEE2 !important;
}

.panel-title a {
  // color: #555;
  text-decoration: none;
}

.panel-title a span {
  font-size: 0.9em;
  margin-left: 0.5em;
  // color: #2d3e50;
  font-weight: bold;
}

.boolean-style {
  margin: 4px 12px 0 !important;
}

.massive-movement {
  float: left;
  padding-right: 0.35em;
}

.template-button {
  margin-bottom: 1em;
}

.button.btn.btn-success.pull-right {
  margin-top: 1em;
  margin-bottom: 1em;
}

.versions-style {
  margin-top: 2em;
  margin-bottom: 1em;
}

.radio-buttons-style {
  display: inline-block;
  margin-left: 2em;
}

.radio-buttons-style input {
  margin-top: -0.5em;
}

.selected-checkbox-buttons{
  margin-bottom: 10px;
  margin-left: 1em;
}

.icon-print {
  color: #88888B;;
  width: 21px !important;
  margin-right: 6px;
  height: 20px;
  font-size: 19px;
  margin-top: 4px;
}
